<!DOCTYPE html>
 <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista médicos</title>
    </head>
    <body>
        <a href="{% url 'criar_consulta' %}">Criar consultas</a>

        <ul>
            {% for i in consulta %}
                <!-- <li>{Nome: {i.nome} - especialidade {i.especialidade} : {i.crm}}</li> -->
                <li>{Nome: {i.nome}}</li>
            {% endfor %}
        </ul>
    </body>
 </html>